@tailwind base;
@tailwind components;
@tailwind utilities;

.react-date-picker__wrapper {
    border-radius: 5px;
    border: thin solid rgb(156, 163, 175) !important;
    height: 40px;
}

.react-calendar {
    border-radius: 5px;
}